<article id="ace-card" class="ace-card bg-primary">
  <div class="ace-card-inner text-center">
    <img class="avatar avatar-195" src="{{ '/styles/img/personal.png' | prepend: site.baseurl }}" width="195" height="195" alt="">
    <h1>{{ site.name }}</h1>
    <p class="text-muted">{{ site.location }} | {{ site.position }}</p>
    <ul class="ace-social clear-list">

      <li><a title="点击添加微信"><span class="ace-icon ace-icon-wechat" id="myBtn"></span></a></li>

      <li><a href="{{ site.QQ }}" title="打开QQ联系我" target="_blank"><span class="ace-icon ace-icon-qq"></span></a></li>

      <li><a href= "tel:13055731409" title="点击拨打电话"><span class="ace-icon ace-icon-phone"></span></a></li>
      <li><a href="mailto: {{ site.email }}" title="点击给我发邮件"><span class="ace-icon ace-icon-contact"></span></a></li>
        <div><font size="1" face="Microsoft YaHei" color="white">*点击以上图标可联系我*</font></div>
    </ul>

</div>
 <footer class="ace-card-footer">
    <a class="btn btn-lg btn-block btn-thin btn-upper" href="javascript:void(0)" onclick="window.print()">下载简历</a>
  </footer>
</article>

<!-- 弹窗 -->
<div id="myModal" class="modal">

  <!-- 弹窗内容 -->
  <div class="modal-content">
    <span class="close"></span>
   
  </div>

</div>
<script>
// 获取弹窗
var modal = document.getElementById('myModal');
 
// 打开弹窗的按钮对象
var btn = document.getElementById("myBtn");
 
// 获取 <span> 元素，用于关闭弹窗
var span = document.querySelector('.close');
 
// 点击按钮打开弹窗
btn.onclick = function() {
    modal.style.display = "block";
}
 
// 点击 <span> (x), 关闭弹窗
span.onclick = function() {
    modal.style.display = "none";
}
 
// 在用户点击其他地方时，关闭弹窗
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}</script>
<style>/* 弹窗 (background) */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 设置在顶层 */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* 弹窗内容 */
.modal-content {
    background-image:url(https://gitee.com/harrivetchris/Resume/raw/master/styles/img/portfolio/wechatqcode.jpg);
  background-size:cover;
  background-repeat:no-repeat;
    margin: 180px auto; 
    padding: 100px;
    border: 1px solid #888;
    width: 1%; 
    max-width:500px;
}

/* 关闭按钮 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}</style>