<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2019-03T2020-04">
                        <span>Mar <strong class="text-upper">2019</strong> - 
                        Apr <strong>2020</strong></span>
                    </time>
                    <h3>产品经理</h3>
                    <span class="education-company">综合出行平台 | 厦门蓝斯通信股份有限公司</span>
                    <p>参与龙洲E行、厦门公交、自贡公交等多个项目</p>
                    <p>参与实地需求调研</p>
                    <p>出行业务流程设计</p>
                    <p>各业务线路线图规划</p>
                    <p>产品设计</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2017-04T2019-03">
                        <span>Apr <strong class="text-upper">2017</strong> - Mar <strong>2019</strong></span>
                    </time>
                    <h3>产品专员</h3>
                    <span class="education-company">五金产品 | 厦门九牧集团</span>
                    <p>负责电商大五金产品管理</p>
                    <p>参与消费者需求入户调研</p>
                    <p>产品路径规划</p>
                    <p>产品生命周期及库存管理</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-08T2017-03">
                        <span>Aug <strong class="text-upper">2016</strong> - Mar <strong>2017</strong></span>
                    </time>
                    <h3>产品专员</h3>
                    <span class="education-company">
                    玩具产品 | 厦门蓝帽子</span>
                    <p>协助产品经理日常事务</p>
                    <p>内外部协调沟通</p>
                    <p>海绵宝宝泡泡产品</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->