<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>男</dd>

                <dt class="text-upper">出生日期</dt>
                <dd>1992-01-08</dd>

                <dt class="text-upper">手机</dt>
                <dd>13055731409</dd>

                <dt class="text-upper">e-mail</dt>
                <dd>794179068@qq.com</dd>

                <dt class="text-upper">微信</dt>
                <dd>794179068</dd>

                <dt class="text-upper">英语</dt>
                <dd>六级</dd>

                <dt class="text-upper">兴趣爱好</dt>
                <dd>IT数码科技、篮球、跑步</dd>
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->