<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>福建师范大学</strong>
                        <span>2012- 2016 | 环境科学</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>在校学习环境科学专业并自学软件编程基础和产品理论知识
                        </p>
                        <p>大学期间曾担任班长职务，多次组织班级活动及管理。
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->