<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">获得职业证书</h2>

    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/NPDP.png' | prepend: site.baseurl }}" alt="">
                        
                </figure>

               <h3 class="award-title">NPDP国际产品经理资格认证</h3>
            </div>
        </div><!-- .col-sm-6 -->
         <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/pm.png' | prepend: site.baseurl }}" alt="">
                       
                </figure>

               <h3 class="award-title">初级产品经理毕业证书</h3>  
            </div>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->