<!DOCTYPE html>
<html lang="en" class="ace ace-card-on ace-tab-nav-on ace-main-nav-on ace-sidebar-on" data-theme-color="#c0e3e7">
  {% include head.html %}
  <body>
    <div class="ace-wrapper">
      
      <header id="ace-header" class="ace-container-shift ace-logo-in ace-head-boxed ace-nav-right">
         <div class="ace-head-inner">
         </div>
      </header>

      {% include personal.html %}

      {{ content }}
      
      {% include footer.html %}
    
    </div><!-- .ace-wrapper -->

    <!-- Scripts -->
    <script type="text/javascript" src="{{ '/styles/js/vendor/jquery-1.12.4.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/styles/js/plugins/highlight/highlight.pack.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/styles/js/plugins/jquery.mCustomScrollbar.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/styles/js/plugins/isotope.pkgd.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/styles/js/plugins/progressbar.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/styles/js/plugins/slick.min.js' | prepend: site.baseurl }}"></script>

    <script type="text/javascript" src="{{ '/styles/js/options.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/styles/js/main.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
